html, body{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    heigth: 100%
    width: 100%;
    background-color: pink;
}

.titulo{
    text-align: center;
}

h1{
    font-family: cursive;
    font-size: 2.5rem;
    color: black;

}

.box-url{
    font-family: cursive;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 20px;
    background-color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.box-nova-url{
    font-family: cursive;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    font-size: 15px;
    background-color: #ebe9e9;
    margin-left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    text-align: center;
    height: 2rem;
    width: 15rem;
}